<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre 🐇🐰</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header class="header">
        <section class="sectionprincipal">

                <img class="logoPrincipal" src="./images/logo-mercado-liebre.svg" alt="Logo de la pagina">

        <nav>
            <ul class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Mis compras</a></li>
                <li><a class="btn-form" href="registro">Crea tu cuenta</a></li>
                <li><a class="btn-form" href="login">Ingresa</a></li>
            </ul>
        </nav>
        </section>
            <img  class="banerImg" src="./images/img-home-banner.jpg" alt="baner del home">
    </header>
    <main class="principal">

        <div class="div">
            <h2>Basado en tu ultima visita</h2>
        </div>

        <section class="productos">

            

            <section class="box productoimg" id="Cafetera-section">
                <img class="cafetera" src="./images/img-cafetera-moulinex.jpg" alt="">
                <h3>Cafeteria Moulinex</h3>
                <p class="price">$6.770</p>
                <p>40% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="macbook-section">
                <img class="macbook" src="./images/img-macbook-pro-2019.jpg" alt="">
                <h3>Macbook pro 2019</h3>
                <p class="price">$230.000</p>
                <p>20% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="samsung-section">
                <img class="samsun" src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <h3>Samsung Galaxy s10</h3>
                <p class="price">$70.500</p>
                <p>10% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="tv-section">
                <img class="smart-tv" src="./images/img-tv-samsung-smart.jpg" alt="">
                <h3> Smart tv Samsung 43" </h3>
                <p class="price">$23.200</p>
                <p>5% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="Cafetera-section">
                <img class="cafetera" src="./images/img-cafetera-moulinex.jpg" alt="">
                <h3>Cafeteria Moulinex</h3>
                <p class="price">$6.770</p>
                <p>40% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="macbook-section">
                <img class="macbook" src="./images/img-macbook-pro-2019.jpg" alt="">
                <h3>Macbook pro 2019</h3>
                <p class="price">$230.000</p>
                <p>20% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="samsung-section">
                <img class="samsun" src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <h3>Samsung Galaxy s10</h3>
                <p class="price">$70.500</p>
                <p>10% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>



            <section class="box productoimg" id="tv-section">
                <img class="smart-tv" src="./images/img-tv-samsung-smart.jpg" alt="">
                <h3> Smart tv Samsung 43"</h3>
                <p class="price">$23.200</p>
                <p>5% off</p>
                <h3 class="envio">Envio Gratis</h3>
            </section>
           
        </section>

    </main>

    <footer class="footer">
        <section class="baner-footer">
            <section class="pago-con-tarjet-o-efectivo">
                <img src="./images/payment.svg" alt="">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                <p class="p-azul"><a href="">Como pagar con Liebre Pago</a></p>
            </section>
    
    
            <section class="envio-gratis">
                <img src="./images/protected.svg" alt="">
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                <p class="p-azul"><a href="">Conoce mas sobre este beneficio</a></p>
            </section>
    
    
            <section class="seguridad">
                <img src="./images/shipping.svg" alt="">
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,3porque estás siempre protegid@.</p>
                <p class="p-azul"><a href="">Como te protegemos</a></p>
            </section>
        </section>
        <br>


    </footer>


</body>
</html>